body{
    margin: 0;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
}
header{
background: #55d6aa;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 25px 0;
    width: 50px;
    size-adjust: auto;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 25px;
    position: relative;
}
nav ul li a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
nav ul li a:hover{
    color:#fff;
}
nav ul li a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav ul li a:hover::before{
    width: 100%;
}